<%= form_for(@user, :html => {:class => 'form-horizontal'}) do |f| %>

  <% if @user.landlord? %>
    <div class='role' id='landlord' hidden>
      <%= f.hidden_field :role, :value => 'landlord' %>
    </div>
  <% else %>
    <div class='role' id='tenant' hidden>
      <%= f.hidden_field :role, :value => 'tenant' %>
    </div>
  <% end %>


      <div class='form-group form-group-lg'>
        <label for='inputFirstName' class='col-lg-2 control-label'>First Name</label>
        <div class='col-lg-10'>
          <%= f.text_field :first_name, :class => 'form-control', :id => 'inputFirstName', :placeholder => "First name" %>
        </div>
      </div>
      <div class='form-group form-group-lg'>
        <label for='inputLastName' class='col-lg-2 control-label'>Last Name</label>
        <div class='col-lg-10'>
          <%= f.text_field :last_name, :class => 'form-control', :id => 'inputLastName', :placeholder => "Last name" %>
        </div>
      </div>
      <div class='form-group form-group-lg'>
        <label for='inputEmail' class='col-lg-2 control-label'>Email</label>
        <div class='col-lg-10'>
          <%= f.email_field :email, :class => 'form-control', :id => 'inputEmail', :placeholder => "Email" %>
        </div>
      </div>
      <div class='form-group form-group-lg'>
        <label for='inputPassword' class='col-lg-2 control-label'>Password</label>
        <div class='col-lg-10'>
          <%= f.password_field :password, :class => 'form-control', :id => 'inputPassword', :placeholder => "Password" %>
        </div>
      </div>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12'>
            <%= f.submit "Sign up", class: "btn btn-success btn-submit btn-lg btn-block" %>
          </div>
        </div>
      </div>
<% end %>