<!DOCTYPE html>
<html>
<head>
  <title>ApartmentManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='container-fluid'>
    <div class="navbar-header" id='hig'>
      <%= link_to 'Home', root_path, :class => 'navbar-brand' %>
    </div>

    <ul class='nav navbar-nav navbar-left'> 
          <li class='dropdown'><%= link_to nil, :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'}, :role => 'button', :aria => {:haspopup => 'true', :expanded => 'false'} do %>
              Browse
              <span class='caret'></span>
            <% end %>

            <ul class='dropdown-menu'>
              <li><%= link_to "Popular", apartments_path %></li>
              <li><%= link_to "Nearby", :id => "nearby_houses" %></li>
            </ul>
          </li> 
    </ul>

      <ul class='nav navbar-nav navbar-right'> 
      <% if current_user %> 
          <li class='dropdown'><%= link_to nil, :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'}, :role => 'button', :aria => {:haspopup => 'true', :expanded => 'false'} do %>
              Profile
              <span class='caret'></span>
            <% end %>

            <ul class='dropdown-menu'>
              <li><%= link_to current_user.first_name + ' ' + current_user.last_name, profile_path %></li>
              <li><%= link_to "Settings", :id =>"settings" %></li>
              <li role='separator' class='divider'></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
            </ul>
          </li> 
      <% else %> 
          <li><%= link_to "Signup", signup_path %></a></li>
          <li><%= link_to "Login", login_path %></a></li> 
      <% end %>
        </ul>
  </div>
</nav>
<%= yield %>

</body>
</html>
