<!DOCTYPE html>
<html>
<head>
  <title>ApartmentManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='container-fluid'>
    <div class="navbar-header">
      <%= link_to 'Home', root_path, :class => 'navbar-brand' %>
    </div>
      <ul class='nav navbar-nav navbar-right'> 
      <% if current_user %> 
          <li class='navbar-text'><%= current_user.email %></li> 
          <li><%= link_to "Profile", profile_path %></li> 
          <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
      <% else %> 
          <li><%= link_to "Signup", signup_path %></a></li>
          <li><%= link_to "Login", login_path %></a></li> 
      <% end %>
        </ul>
  </div>
</nav>
  <ul> 
   <li> <%= link_to "All Apartments", apartments_path %></a></li> 
  </ul> 
<%= yield %>

</body>
</html>
