<!DOCTYPE html>
<html>
<head>
  <title>ApartmentManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<% if current_user %> 
  <ul> 
    <li><%= current_user.email %></li> 
    <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
    <li><%= link_to "Profile", profile_path %></li> 
<% else %> 
  <ul> 
    <li><%= link_to "Login", login_path %></a></li> 
    <li><%= link_to "Signup", signup_path %></a></li>
<% end %>
  <li> <%= link_to "Apartments", apartments_path %></a></li> 
  </ul> 
<%= yield %>

</body>
</html>
